<h1>Listing visits</h1>

<table class="table table-striped">
  <tr>
    <th>Note</th>
    <th>Rating</th>
    <th>User</th>
    <th>Dish</th>
    <th>Restaurant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.note %></td>
    <td><%= visit.rating %></td>
    <td><%= visit.user.name %></td>
    <td><%= visit.dish.name %></td>
    <td><%= visit.restaurant.name %></td>
    <td><%= link_to 'Show', visit, :class => "btn btn-primary" %></td>
    <td><%= link_to 'Edit', edit_visit_path(visit), :class => "btn btn-warning" %></td>
    <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visit', new_visit_path %>
