<p id="notice"><%= notice %></p>

<p>
  <b>Note:</b>
  <%= @visit.note %>
</p>

<p>
  <b>Rating:</b>
  <%= @visit.rating %>
</p>

<p>
  <b>User:</b>
  <%= @visit.user.name %>
</p>

<p>
  <b>Dish:</b>
  <%= @visit.dish.name %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @visit.restaurant.name %>
</p>


<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
